{% extends 'base/main.html' %}
{% block content %}

<div class="header-bar">
    <div>
        <h1>Hello {{request.user|title}}</h1>
        <h3 style="margin:0">You have <i>{{count}}</i> incomplete task{{ count|pluralize:"s" }}</h3>
    </div>
</div>

<div id="search-add-wrapper">
    <form method="GET" style="margin-top: 20px; display: flex;">
        <input type="text" name="search-area" value="{{search_input}}">
        <input class="button" type="submit" value="Search">
    </form>
    <a id="add-link" href="{% url 'task-create' %}">&#x2b; Add</a>
</div>

<div class="task-items-wrapper">
    {% if tasks %}
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Assigned</th>
                <th>Status</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
            <tr>
                <td class="task-title">
                    {% if task.complete %}
                        <div class="task-complete-icon"></div>
                        <s><a href="{% url 'task-update' task.id %}">{{ task }}</a></s>
                    {% else %}
                        <div class="task-incomplete-icon"></div>
                        <a href="{% url 'task-update' task.id %}">{{ task }}</a>
                    {% endif %}
                </td>
                <td>{{ user }}</td>
                <td>{{ task.status }}</td>
                <td>
                    <a class="delete-link" href="{% url 'task-delete' task.id %}">&#215;</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">No items in the list</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <h3>No items in list</h3>
    {% endif %}
</div>


{% endblock content %}